body{
	font-family: "Arial";
}

*{
	margin: 0;
	padding: 0;
}

header{
	height: 70px;
	width: 100%;
	background: black;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

/* Mantendo a sua largura de 33% para a navegação do topo */
header nav {
	width: 33%;
	display: flex;
	justify-content: space-between;
}

header nav ul{
	display: flex;
	justify-content: space-between;
	width: 100%;	
	list-style: none;
}

header a: {
	color: white;
	text-decoration: none;
}
header a:hover{
    color: red;
}

header a:active{
    color: green;
}

header a:visited{
    color: orange;
}

main .slide{
	background: url("imagens/banner-principal.png");
	width: 100%;
	height: 100vh;
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	align-items: center;
}

main .slide h3{
   	color: white;
    	font-size: 60px;
}
main .slide h2{
   	color: red;
	font-size: 70px;
}
main .slide p{
   	color: white;
   	font-size: 18px;
	margin-bottom: 20px;
}
main .slide a{
	color: white;
	background: red;
	padding: 12px 20px;
	text-decoration: none;
	border-radius: 8px;
}

main .slide .descricao-slide{
	margin-left: 50px;
}

main .catalogo{
	margin: 50px;
}

/* Ajustado para dar um espaçamento entre o título e os filmes */
main .catalogo .destaque-vertodos{
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;
}

main .catalogo .destaque-vertodos a{
	color: red;
	text-decoration: none;
	font-weight: bold;
}

/* Mantendo a sua largura de 100% com flex-wrap */
main .catalogo ul{
	width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
	list-style: none;
}

/* Seus cartões de filmes originais mantendo as bordas cinzas */
main .catalogo ul li{
	width: 200px;
	height: 370px;
	border: 1px solid gray;
	overflow: hidden;
	border-radius: 10px;
	margin: 15px; /* Adicionado margem para os filmes não colarem uns nos outros com largura 100% */
}

main .catalogo ul li img{
	width: 100%;
	height: 230px;
	object-fit: cover; /* Garante que as imagens fiquem no tamanho certo sem distorcer */
}

main .catalogo ul li h2{
	font-size: 22px;
	text-align: center;
	line-height: 20px;
	margin-bottom: 10px;
}

main .catalogo ul li .categoria{
	color: #999;
	padding: 0 0 10px 10px;
}

main .catalogo ul li .lancamento{
	color: #999;
	padding: 0 0 10px 10px;
}

main .catalogo ul li .avaliacao{
	color: #999;
	padding: 0 0 10px 10px;
}

